<header>
  <h1> Angular: Post-Basics </h1>

  <nav>
    <!-- these are bad because they will refresh the page 😔 -->
    <a href="/"> BAD Quotes List Link </a>
    <br>

    <a href="/forms"> BAD Forms Link </a>
    <br>

    <!-- these are the GOOD links because they SPA -->
    <a [routerLink]="['']"> GOOD Quotes List Link </a>
    <br>

    <a [routerLink]="['forms']"> GOOD Forms Link </a>
    <br>

    <a [routerLink]="['contacts']"> Contacts </a>
    <br>
  </nav>
</header>


<!-- this is kind of like the "<%- body -%>" in EJS layouts -->
<router-outlet></router-outlet>
<!-- must be called "<router-outlet>" -->


<footer>
  <p> Made with 🥔 at Ironhack. </p>
</footer>
